.Titles {
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.Scores {
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.Buttons {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
